@* vista parcial con los links de la app*@

@{
    Layout = null;
}

<a asp-action="HeroeSession" asp-controller="Home">SELECCIONAR héroe</a>
<br />
<a asp-action="Registro" asp-controller="Heroe">CREAR héroe</a>
<br />
<a asp-action="Ver" asp-controller="Heroe">VER héroe</a>
<br />
<a asp-action="SeleccionarHeroe" asp-controller="Heroe">EDITAR héroe</a>
<br />
<a asp-action="Borrar" asp-controller="Heroe">BORRAR héroe</a>
<br />